/* Body styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #131313;
}

/* Header styles */
.header {
  background-color: #131313;
  padding-top: 200px;
  padding-bottom: 325px;
  text-align: center;
  font-size: 320%;
  
}


/* Main section styles */
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-bottom: 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.form-wrapper input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  margin-bottom: 10px;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  text-align: center;
}

.btn-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.sidebar {
  position: bottom;
  justify-content: center;
  align-items: center;
  top: 17em;
  left: 0;
  width: 70%;
  height: 100%;
  border: 1em #1f1f1f;
  background-color: #495877;
  overflow-y: auto;
  border-radius: 1em;
  margin: 0 auto
}
.sidebar::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background-color: #1f1f1f; /* Set the background color of the track */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #2e2e2e; /* Set the color of the thumb */
  border-radius: 5px; /* Add some border-radius */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change the color of the thumb on hover */
}

/* Footer styles */
footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

#player
{
  position: relative;
  margin: 0 auto;
  border-radius: 1em;
  z-index: 9999;
  margin-top: 200px;
  margin-bottom: 100px;
}

.player{
  margin: 0 auto;
}

#player iframe {
  margin: 0 auto;
}

#video-url{
  border-radius: 20px;
}
.heading{
  font-size: 200%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:hover {
  background-color: #40e495;